<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.diploma.volodymyr.bicyclecity">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".common.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="@string/here_app_id" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="@string/here_app_code" />

        <activity
            android:name=".ui.activity.navigation.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activity.auth.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.auth.SignUpActivity" />
        <activity
            android:name=".ui.activity.groupride.CreateGroupRideActivity"
            android:label="@string/title_activity_create_group_ride"
            android:parentActivityName=".ui.activity.navigation.MenuActivity" />
        <activity
            android:name=".ui.activity.SelectRouteActivity"
            android:label="@string/title_activity_create_group_ride_route"
            android:parentActivityName=".ui.activity.groupride.CreateGroupRideActivity" />
        <activity
            android:name=".ui.activity.groupride.GroupRideDetailsActivity"
            android:parentActivityName=".ui.activity.navigation.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.competition.CreateCompetitionActivity"
            android:label="@string/title_activity_create_competition"
            android:parentActivityName=".ui.activity.navigation.MenuActivity" />
        <activity android:name=".ui.activity.competition.CompetitionDetailsActivity" />
        <activity
            android:name=".ui.activity.competition.CompetitionResultActivity"
            android:label="@string/title_activity_competition_result" />
    </application>

</manifest>